// couleurs principales
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
// couleur de fond
$back-color: #f6f6f6;
// couleur des boutons
$button-color: linear-gradient($secondary-color 0%, $primary-color 100%);
// ombres portées
$shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
